<h1>Index page for articles</h1>
<table>
  <thhead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><h3><%=  article.title %></h3></td>
        <td><p><%=  article.description %></p></td>
        <td>Placeholder</td>
      </tr>
    <% end %>
  </tbody>
</table>
